// Fix path to bootstrap glyphicons
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

// More vars
diameter = 180px
red = #bf332f

// Elements
#title
    font-size 3em
    font-family: 'Monoton', cursive;
#counter
    width 140px
    height 140px
    border 3px solid gray
    font-size 4em
#button
    font-size 8em
    background #e74c3c 
    width diameter
    height diameter
.circle
    border-radius 50%
    height 100%
    width 100%
#reset
    position absolute
    bottom 10px
    left 10px
    font-size 2em

// Font & Color
html, body
    height 100%
    width 100%
    margin 0
body h1, h2, h3, h4, h5, h6, h7, p
    font-size 120%
    margin 0

// Variables
shadow()
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
rounded()
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

// Positioning
.flex-container
    height: 100%;
    width 100%
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction column
    flex-direction column
    -webkit-align-items center
    align-items center
    -webkit-justify-content center
    justify-content: center;
.flex-item
    text-align center
    margin 15px
