html
  head
    title Krunk Button
    link(rel='stylesheet', href='css/style.css')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width; user-scalable=no;")

  body
    div.flex-container
      div.flex-item
