html
  head
    title Krunk Button
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, user-scalable=no")

    // stylesheets
    link(href='http://fonts.googleapis.com/css?family=Monoton', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='js/vendor/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='js/vendor/animate.css/animate.css')

    // scripts
    script(src='js/vendor/jquery/jquery.js')
    script(src='js/vendor/bootstrap/bootstrap.js')
    script(src='js/index.js')

  body
    div.flex-container
      div#title.flex-item
        h1 Krunk Button
      div#counter.flex-item
        div.flex-container
          div.flex-item
            span
              h1#count
      div#button.flex-item.circle
        div.flex-container
          div.flex-item
            span.glyphicon.glyphicon-glass
    div#reset
      span.glyphicon.glyphicon-repeat
